<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/moim/moim.css">

</head>
<link rel="stylesheet" href="/css/moim/moim.css">
<br><br>
<body>
	<div th:fragment="home-info">
		<div id="home">
			<div id="carouselExampleDark" class="carousel slide carousel-dark">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="https://cataas.com/cat" class="home-img rounded mx-auto d-block" alt="...">
					</div>
					<div class="carousel-item">
						<img src="https://cataas.com/cat" class="home-img rounded mx-auto d-block" alt="...">
					</div>
					<div class="carousel-item">
						<img src="https://cataas.com/cat" class="home-img rounded mx-auto d-block" alt="...">
					</div>
					<div class="carousel-item">
						<img src="https://cataas.com/cat" class="home-img rounded mx-auto d-block" alt="...">
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
						data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
						data-bs-slide="next">
					<span class="carousel-control-next-icon" style="color:black" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
		<br>

		<div class="text-start">
			<h2 class="fw-bold">루트트립</h2>
			<hr>
			"함께 여행하는 즐거움, 여행의 날개를 펼치다!"
			<br><br><br>
			<!--모임 설명-->
			<h4 class="fw-bold">모임설명</h4>
			<hr>
			<div>
				저희 여행동아리는 열정적인 여행자들이 모여 세계 각지의 아름다운 장소를 탐험하고 문화를 교류하는 공동체입니다. 우리는 새로운 경험과 모험을 추구하며, 친구들과 함께하는 여행에서 소중한 순간을
				만들어냅니다. 우리 동아리는 열린 마음으로 모든 이를 환영하며, 함께 여행하는 즐거움과 성장의 기회를 제공합니다.
			</div>

			<br><br><br>
			<!--조건 설명-->
			<h4 class="fw-bold">조건설명</h4>
			<hr>
			<div>
				<dl class="row">
					<dt class="col-sm-2">나이(Age)</dt>
					<dd class="col-sm-10">성인만 가능(만 18세 이상)</dd>

					<dt class="col-sm-2">성별</dt>
					<dd class="col-sm-10">남/녀 모두 환영</dd>

					<dt class="col-sm-2">이런 사람 좋아요!</dt>
					<dd class="col-sm-10">
						<p>여행을 좋아하는 사람!</p>
						<p>함께 하는 여행을 좋아하는 사람</p>
						<p>열정적이고 호기심이 많은 사람</p>
					</dd>
				</dl>
			</div>
		</div>
		<br><br><br>


	</div>
	<!--홈화면 끝-->
</body>
</html>