<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/moim/moim.css">

</head>
<link rel="stylesheet" href="/css/moim/moim.css">
<br><br>
<body>
	<div th:fragment="home-info">
		<div id="home">
			<div id="carouselExampleDark" class="carousel slide carousel-dark">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img th:src="@{/moim/read-img(fname=${dto.getPhoto()})}" class="home-img rounded mx-auto d-block" alt="...">
					</div>
					<div class="carousel-item">
						<img th:src="@{/moim/read-img(fname=${dto.getPhoto2()})}" class="home-img rounded mx-auto d-block" alt="...">

					</div>
					<div class="carousel-item">
						<img th:src="@{/moim/read-img(fname=${dto.getPhoto3()})}" class="home-img rounded mx-auto d-block" alt="...">
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
						data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
						data-bs-slide="next">
					<span class="carousel-control-next-icon" style="color:black" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
		<br>

		<div class="text-start">
			<h2 class="fw-bold" th:text="${dto.getTitle()}"></h2>
			<hr>
			<snap th:text="${dto.getInfo()}"></snap>
			<br><br><br>
			<!--모임 설명-->
			<textarea style="width:100%; height:300px; border:none; outline:none;" th:text="${#strings.escapeXml(dto.content)}">
				
			</textarea>
		</div>
		<br><br><br>
	</div>
	<!--홈화면 끝-->
</body>
</html>