<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/moim/moim.css">
	<link rel="stylesheet" href="/css/cat/searchbox.css">
</head>
<body>
	<!-- header -->
	<header th:replace="~{moim/header :: head}"></header>

	<!-- contents -->
	<div class="container" style="height: 100%;">
		<!--메뉴바-->
		<div id="menu-bar" class="text-center">
			<ul class="nav nav-pills nav-justified mb-3 fw-bold" id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
							type="button" role="tab" aria-controls="pills-home" aria-selected="true">홈
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pills-picture-tab" data-bs-toggle="pill" data-bs-target="#pills-picture"
							type="button" role="tab" aria-controls="pills-picture" aria-selected="false">사진첩
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pills-board-tab" data-bs-toggle="pill" data-bs-target="#pills-board"
							type="button" role="tab" aria-controls="pills-picture" aria-selected="false">게시판/채팅
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pills-somoim-tab" data-bs-toggle="pill" data-bs-target="#pills-somoim"
							type="button" role="tab" aria-controls="pills-somoim" aria-selected="false" onclick="somoim(0)">소모임
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pills-review-tab" data-bs-toggle="pill" data-bs-target="#pills-review"
							type="button" role="tab" aria-controls="pills-review" aria-selected="false" onclick="rv(0)">후기
					</button>
				</li>
			</ul>
		</div>

		<!-- 가입하기 버튼 -->
		<div class="fixed-bottom d-flex justify-content-center" style="padding-bottom: 20px;">
			<button type="button" id="join-btn" class="shadow btn shadow btn btn-danger ">가입하기</button>
		</div>

		<!--각 컨텐츠-->
		<div class="tab-content" id="pills-tabContent" style="border: 5px solid gainsboro; border-radius: 10px; padding: 15px">
			<div th:insert="~{moim/home :: home-info}" class="tab-pane fade show active" id="pills-home" role="tabpanel"
				 aria-labelledby="pills-home-tab" tabindex="0"></div>
			<div class="tab-pane fade" id="pills-picture" role="tabpanel" aria-labelledby="pills-picture-tab" tabindex="0">
				<div th:replace="~{moim/album :: item}"></div>
			</div>
			<div th:insert="~{moim/board :: moim-board}" class="tab-pane fade" id="pills-board" role="tabpanel" aria-labelledby="pills-board-tab" tabindex="0">
				게시판
			</div>
			<div th:insert="~{moim/somoim :: somoim-info}" class="tab-pane fade" id="pills-somoim" role="tabpanel"
				 aria-labelledby="pills-somoim-tab" tabindex="0" ></div>
			<div th:insert="~{moim/review :: review-list}" class="tab-pane fade" id="pills-review" role="tabpanel"
				 aria-labelledby="pills-review-tab" tabindex="0" >
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/jquery-3.7.1.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.js"></script>
	<script type="text/javascript" src="/js/moim/**.js"></script>

	<script type="text/javascript">
		// textarea 크기 자동조절
		function autoHeight() {
			var textarea = document.getElementById("board-content");
			textarea.style.height = "auto"; // Reset height to auto to calculate the actual scrollHeight
			textarea.style.height = (textarea.scrollHeight) + "px";
		}
	</script>
</body>
</html>