<!DOCTYPE html>
<html lang="en">
<body>
    <div th:fragment="form" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-8 fw-bold" id="staticBackdropLabel">소모임 작성</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span class="fw-bold">&emsp;썸네일 선택</span><br>
                    <div class="somoim-input input-group mb-3">
                        <label class="input-group-text" for="inputGroupFile01">올리기</label>
                        <input type="file" class="form-control" id="inputGroupFile01">
                    </div>

                    <span class="fw-bold">&emsp;소모임이름</span><br>
                    <input class="somoim-input form-control" type="text" placeholder="Default input"
                           aria-label="default input example"><br>
                    <span class="fw-bold">&emsp;소모임소개</span><br>
                    <input class="somoim-input form-control" type="text" placeholder="Default input"
                           aria-label="default input example"><br>
                    <span class="fw-bold">&emsp;일&emsp;정</span><br>
                    <input class="somoim-input form-control" type="text" placeholder="Default input"
                           aria-label="default input example"><br>
                    <span class="fw-bold">&emsp;여행지</span><br>
                    <input class="somoim-input form-control" type="text" placeholder="Default input"
                           aria-label="default input example"><br>
                    <span class="fw-bold">&emsp;집&emsp;결</span><br>
                    <input class="somoim-input form-control" type="text" placeholder="Default input"
                           aria-label="default input example"><br>
                    <span class="fw-bold">&emsp;인&emsp;원</span><br>
                    <input class="somoim-input form-control" type="text" placeholder="Default input"
                           aria-label="default input example"><br>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary">작성완료</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>