
<div class="text-start">
    <div class="row somoim_div">
        <div class="col-3 somoim_img"> 
            <img class="rounded float-start" style="border-radius: 5px">
        </div>
        <div class="col-9 position-relative">
            <h4 class="fw-bold" th:text="${item.getTitle()}">제목</h4>
            <p>본문</p>
            <p class="somoim-date">
                    <span>정모일 :
                        <jdate class="jdate"></jdate><!-- (<span>3 </span>박 <span>4</span>일) -->
                    </span>
                <br>
                <somoim-loc-trip class="loc_trip">여행지 :</somoim-loc-trip>
                <br>
                <somoim-loc class="loc">집결 장소 : </somoim-loc>
                <br>
                참석 : <cnt> </cnt> / <somoim-total class="total"> </somoim-total>
            </p>

            <div class="col-2 position-absolute bottom-0 end-0">
                <button type="button" class="somoim_join_btn shadow btn btn-danger">가입하기</button>
            </div>
        </div>
    </div>
</div>