<!DOCTYPE html>
<html lang="en">
<body>
    <div th:fragment="msg" class="modal fade msg-info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 id="msg-people"></h4>
                    <p id="msg-content"></p>
                    <p id="msg-date"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>