<!-- 받은 쪽지 -->
<div th:fragment="receipt" class="modal fade" id="msgInfo" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img src="/member/img/" style="width: 40px; height: 40px; border: 1px solid black; border-radius: 30px">
                <h1 class="modal-title fs-5" id="msg-title"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card" style="border: 0">
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>