<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">-->
    <link rel="stylesheet" type="text/css" href="/css/cat/cat.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
    <style>

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

            .bottom-right {
        position: fixed;
        bottom: 100px;
        right: 100px;
        width: 100px;
        height: 100px;
      }

      .position-relative {
        position: relative;
      }

      .btn-transparent {
        background-color: transparent;
        border: none;
      }


    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg" style="height: 70px;">
        <div class="container-fluid d-flex flex-row-reverse">
            <div id="navbarNav">
                <ul class="navbar-nav">
                    <li class="row align-items-center nav-item p-2">
                        <input id="notification" class="col"readonly>
                    </li>
                    <li class="nav-item p-2 btn-group">
                        <div id="profile" class="dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-end" style="right: 10px">
                                <li><a class="dropdown-item" href="#">Menu item</a></li>
                                <li><a class="dropdown-item" href="#">Menu item</a></li>
                                <li><a class="dropdown-item" href="#">Menu item</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container d-flex justify-content-center" style="padding-bottom: 20px">
        <img src="/img/crewz.jpeg" style="width: 300px; height: 70px; text-align: center">
<!--        <img src="/img/crewz.jpeg" style="width: 300px; height: 70px; text-align: center">-->
    </div>

    <div class="container d-flex justify-content-center" style="padding-bottom: 20px">
        <form class="col-md-7" style="display: flex; align-items: center">
            <div id="category" class="btn-group">
                <button id="category-box" class="btn btn-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    CATEGORY
                </button>
                <ul class="dropdown-menu" aria-labelledby="category-box">
                    <li><a class="dropdown-item category" value="1">1</a></li>
                    <li><a class="dropdown-item category" value="2">2</a></li>
                    <li><a class="dropdown-item category" value="3">3</a></li>
                    <li><a class="dropdown-item category" value="4">4</a></li>
                </ul>
            </div>
            <input id="search-box" type="box">
            <input type="submit" value="">
        </form>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div class="col" th:each="photo : ${photos}">
                    <div class="card shadow-sm">
                        <img th:src="@{${photo.url}}" class="bd-placeholder-img card-img-top" width="100%" height="225"/>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                </div>
            </div>

            <button class="btn btn-transparent bottom-right" data-bs-toggle="modal" data-bs-target="#photoModal">
                <img src="/img/plusbotton.png" alt="버튼 이미지" style="width:120%; height:100%;" />
            </button>
        </div>
    </div>

    <!-- 모달 창 -->
    <div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="photoModalLabel">사진 추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="file" id="photoUpload" name="photoUpload" multiple>
                    <div id="fileList"></div> <!-- 파일 목록을 표시할 div 추가 -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" id="uploadButton" >사진 업로드</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var photoUploadInput = document.getElementById('photoUpload');
        var fileListContainer = document.getElementById('fileList');
        var uploadButton = document.getElementById('uploadButton');
        var photoModal = new bootstrap.Modal(document.getElementById('photoModal'));

        // 파일 선택 시 파일 목록 표시
        photoUploadInput.addEventListener('change', function (e) {
            fileListContainer.innerHTML = ''; // 기존 목록 초기화
            for (var i = 0; i < e.target.files.length; i++) {
                fileListContainer.innerHTML += '<p>' + e.target.files[i].name + '</p>'; // 파일 이름 표시
            }
        });

        // 사진 업로드 버튼 클릭 시
        uploadButton.addEventListener('click', function () {
            // 업로드 로직 수행

            // 업로드 완료 후 목록 초기화 및 모달 닫기
            fileListContainer.innerHTML = ''; // 파일 목록 초기화
            photoUploadInput.value = ''; // 파일 입력 필드 초기화
            photoModal.hide(); // 모달 창 닫기
        });

        // 모달 창 열릴 때 이전에 업로드한 파일 목록 초기화
        photoModal._element.addEventListener('show.bs.modal', function () {
            fileListContainer.innerHTML = ''; // 파일 목록 초기화
            photoUploadInput.value = ''; // 파일 입력 필드 초기화
        });
    });


</script>


</body>
</html>