<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/cat/cat.css">
    <link rel="stylesheet" type="text/css" href="/css/home/home.css">
    <link rel="stylesheet" type="text/css" href="/css/cat/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/cat/searchbox.css">
    <style>
        .card:hover {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <!--회원가입/로그인-->
    <nav class="navbar navbar-expand-lg" style="height: 70px;">
        <div class="container-fluid d-flex flex-row-reverse">
            <div id="navbarNav">
                <ul class="navbar-nav">
                    <!-- 로그인 되어 있을 때 -->
                    <th:block th:if="${log == true}">
                        <div th:replace="~{index/nav-login :: login-info}"></div>
                    </th:block>

                    <!-- 로그아웃 되어 있을 때 -->
                    <th:block th:if="${log == false}">
                        <div th:replace="~{index/nav-logout :: logout-info}"></div>
                    </th:block>
                </ul>
            </div>
        </div>
    </nav>

    <!-- 중앙 컨텐츠 -->
    <div id="wrapper">
        <!--로고 사진-->
        <div class="container d-flex justify-content-center" onclick="home()">
            <div style="text-align: center;margin: 3px;">
                <img id="logo" src="/img/home-logo.png"/>
            </div>
        </div><br/>

        <!-- 검색창 -->
        <div th:replace="~{index/searchbox :: box}"></div>
        <br/>

        <!-- 카테고리 컨텐츠 -->
        <div id="graybox" class="container d-flex justify-content-center">
            <div class="d-flex flex-wrap">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div th:each="item : ${catlist}" class="col" style="padding: 0; margin: 0; text-align: center" >
                        <div class="card" style="background-color: unset; border: 0" th:onclick="go([[${item.name}]])">
                            <div class="card-body">
                                <img style="width: 200px; height: 200px" src="/img/9596881ac8a6f4b0ddd2fb32aaf896e0.jpg"/>
                                <p class="card-text" style="text-align: center" th:text="${item.name}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${log == true}">
        <div th:replace="~{index/msg :: msg}"></div>
    </div>
    <div th:if="${log == false}">
        <div th:replace="~{index/login :: login}">
        </div>
        <div th:replace="~{index/join :: join}">
        </div>
    </div>

    <div th:if="${log == true}">
        <div class="container-fluid fixed-bottom d-flex justify-content-end" style="padding-bottom: 20px;">
            <img src="/img/plusbotton.png" style="width: 60px; height: 60px" data-bs-toggle="modal" data-bs-target="#staticBackdrop"/>
        </div>
        <div th:replace="~{index/moim-add :: addMoim}"></div>
    </div>

    <script src="/jquery-3.7.1.js"></script>
    <script src="/bootstrap/js/bootstrap.js" defer></script>
    <script src="/bootstrap/js/bootstrap.bundle.js" defer></script>
    <script type="text/javascript" src="/js/cat/cat.js"></script>
    <script type="text/javascript" src="/js/searchbox.js"></script>
</body>
</html>