<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/cat/cat.css">
    <link rel="stylesheet" type="text/css" href="/css/home/home.css">
    <link rel="stylesheet" type="text/css" href="/css/cat/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/cat/searchbox.css">
    <style>
        .card:hover {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <!--회원가입/로그인-->
    <div th:replace="~{nav :: nav}"></div>

    <!-- 중앙 컨텐츠 -->
    <div id="wrapper">
        <!--로고 사진-->
        <div class="container d-flex justify-content-center" onclick="home()">
            <div style="text-align: center;margin: 3px;">
                <img id="logo" src="/img/home-logo.png"/>
            </div>
        </div><br/>

        <!-- 검색창 -->
        <div th:replace="~{index/searchbox :: box}"></div>
        <br/>

        <!-- 카테고리 컨텐츠 -->
        <div id="graybox" class="container d-flex justify-content-center">
            <div class="d-flex flex-wrap">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div th:each="item : ${catlist}" class="col" style="padding: 0; margin: 0; text-align: center" >
                        <div class="card" style="width: auto; height: auto; background-color: unset; border: 0" th:onclick="go([[${item.no}]])">
                            <div class="card-body">
                                <img style="width: 100%; height: 100%" th:src="@{/category(filename = ${item.photo})}"/>
                                <p class="card-text" style="text-align: center" th:text="${item.name}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 로그인 되어 있지 않을 때 -->
    <div th:replace="~{index/login :: login}"></div>
    <div th:replace="~{index/join :: join}"></div>

    <!-- 로그인 되어 있을 때 -->
    <div th:replace="~{index/msg :: msgSend}"></div>
    <div th:replace="~{index/msg-write :: msgSend-choice}"></div>
    <div th:replace="~{index/moim-add :: addMoim}"></div>
    <div class="container-fluid fixed-bottom d-flex justify-content-end" style="padding-bottom: 20px;">
        <img src="/img/plusbotton.png" style="width: 60px; height: 60px" data-bs-toggle="modal" data-bs-target="#staticBackdrop"/>
    </div>

    <script src="/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/js/cat/index.js"></script>
    <script type="text/javascript" src="/js/category/category.js"></script>
    <script type="text/javascript" src="/js/msg/msg-list.js"></script>
    <script type="text/javascript" src="/js/msg/msg-write.js"></script>
    <script type="text/javascript" src="/js/msg/msg-send.js"></script>
    <script type="text/javascript" src="/js/searchbox.js"></script>
    <script type="text/javascript" src="/js/notification.js"></script>
    <script type="text/javascript" src="/js/cat/logincheck.js"></script>
  <script src="/jquery-3.7.1.js"></script>
  <script src="/bootstrap/js/bootstrap.bundle.js"></script>
  <script type="text/javascript" src="/js/cat/cat.js"></script>
  <script type="text/javascript" src="/js/searchbox.js"></script>
  <script type="text/javascript" src="/js/cat/logincheck.js"></script>
  <script type="text/javascript" src="/js/cat/joincheck.js"></script>
  <script type="text/javascript" src="/js/cat/search-account.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
  <script type="text/javascript" src="/js/category/category.js"></script>
  <script type="text/javascript" src="/js/msg/msg-list.js"></script>
  <script type="text/javascript" src="/js/msg/msg-write.js"></script>
  <script type="text/javascript" src="/js/msg/msg-send.js"></script>
  <script type="text/javascript" src="/js/notification.js"></script>
</body>

<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script th:inline="javascript" type="text/javascript">
    /**
     * 카카오 로그인
     */
    Kakao.init([[${kakao}]]);

    function loginWithKakao() {
        Kakao.Auth.login({
            success: function (result) {
                Kakao.API.request({
                    url: "/v2/user/me",
                    success: function (result2) {
                        var id = result2.id;
                        let properties = result2.properties;
                        let name = properties.nickname;

                        $.ajax({
                            type: "POST",
                            url: "/member/checkId",
                            data: {"id": id},
                            success: function (result3) {
                                if (result3 == '0') {//중복이 아닐 때
                                    $.ajax({
                                        type: "POST",
                                        url: "/join/kakao",//카카오로 회원가입
                                        data: {"id": id, "name": name},
                                        datatype: "json",
                                        success: function (result4) {
                                            Swal.fire({
                                                title: "회원가입이 완료되었습니다.",
                                                text: "크루즈에 오신 것을 환영합니다.",
                                                icon: "success",
                                                confirmButtonColor: "#db3545",
                                                confirmButtonText: "확인"
                                            }).then((result5) => {
                                                if (result5.isConfirmed) {
                                                    sessionStorage.setItem("loginId", id);
                                                    location.href = "/";
                                                }
                                            });
                                        }
                                    });
                                } else if (result3 == '1') {//이미 가입한 아이디일 때
                                    //로그인
                                    sessionStorage.setItem("loginId", id);
                                    location.href = "/";
                                }
                            },
                            error: function (error) {
                                console.log(error);
                            }
                        })
                    },
                    fail: function (error) {
                        console.log(error)
                    },
                });
            },
            fail: function (error) {
                console.log(error)
            },
        });
    }
</script>

</html>