<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/cat/cat.css">
	<link rel="stylesheet" type="text/css" href="/css/cat/nav.css">
    <link rel="stylesheet" href="/css/moim/moim.css">
	<link rel="stylesheet" href="/css/cat/searchbox.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body style="height: 100%">
	<!-- -->
	<div th:replace="~{nav :: navbar}"></div>

	<!-- header -->
	<header th:replace="~{moim/header :: head}"></header>

	<div class="container" style="height: 100%;">
		<!--메뉴바-->
		<div id="menu-bar" class="text-center">
			<ul class="nav nav-pills nav-justified mb-3 fw-bold" id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
							type="button" role="tab" aria-controls="pills-home" aria-selected="true">홈
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pills-picture-tab" data-bs-toggle="pill" data-bs-target="#pills-picture"
							type="button" role="tab" aria-controls="pills-picture" aria-selected="false">사진첩
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pills-board-tab" data-bs-toggle="pill" data-bs-target="#pills-board"
							type="button" role="tab" aria-controls="pills-picture" aria-selected="false">게시판/채팅
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pills-somoim-tab" data-bs-toggle="pill" data-bs-target="#pills-somoim"
							type="button" role="tab" aria-controls="pills-somoim" aria-selected="false" onclick="somoim(0)">소모임
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pills-review-tab" data-bs-toggle="pill" data-bs-target="#pills-review"
							type="button" role="tab" aria-controls="pills-review" aria-selected="false" onclick="rv(0)">후기
					</button>
				</li>
			</ul>
		</div>

		<!-- 가입하기 버튼, 좋아요 버튼 -->
		<div class="fixed-bottom d-flex justify-content-center" style="padding-bottom: 20px;">
			<input type="button" id="join-btn" class="shadow btn shadow btn btn-danger " value="가입하기">
			<div id="heart" onclick="heart_check()">
				<i id="like" class="far fa-heart fa-2xl join-btn" style="color: #dc3545;"></i>
				<i id="dislike" class="fas fa-heart fa-2xl join-btn" style="color: #dc3545; display: none"></i>
			</div>
 		</div>

		<!--각 컨텐츠-->
		<div class="tab-content" id="pills-tabContent" style="border: 5px solid gainsboro; border-radius: 10px; padding: 15px">
			<!-- 홈 -->
			<div th:insert="~{moim/home :: home-info}" class="tab-pane fade show active" id="pills-home" role="tabpanel"
				 aria-labelledby="pills-home-tab" tabindex="0"></div>
			<!-- 사진첩 -->
			<div class="tab-pane fade" id="pills-picture" role="tabpanel" aria-labelledby="pills-picture-tab" tabindex="0">
				<div th:replace="~{moim/album :: item}"></div>
			</div>
			<!-- 게시판/채팅 -->
			<div th:insert="~{moim/board :: moim-board}" class="tab-pane fade" id="pills-board" role="tabpanel" aria-labelledby="pills-board-tab" tabindex="0">
				게시판
			</div>
			<!-- 소모임 -->
			<div th:insert="~{moim/somoim :: somoim-info}" class="tab-pane fade" id="pills-somoim" role="tabpanel"
				 aria-labelledby="pills-somoim-tab" tabindex="0" ></div>
			<!-- 리뷰 -->
			<div th:insert="~{moim/review :: list}" class="tab-pane fade" id="pills-review" role="tabpanel"
				 aria-labelledby="pills-review-tab" tabindex="0" >
			</div>
		</div>
		<br>
	</div>

	<div th:if="${log == true}">
		<div th:replace="~{index/msgSend :: msgSend}"></div>
	</div>
	<div th:if="${log == false}">
		<div th:replace="~{index/login :: login}">
		</div>
		<div th:replace="~{index/join :: join}">
		</div>
	</div>

	<!-- script 영역 -->
	<script src="https://kit.fontawesome.com/9b5b7c8809.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/jquery-3.7.1.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.js"></script>
	<script type="text/javascript" src="/js/category/category.js"></script>
	<!-- 앨범 -->
	<script type="text/javascript" src="/js/moim/album-form.js"></script>
	<!-- 후기 -->
	<script type="text/javascript" src="/js/moim/review.js"></script>
	<!-- 소모임 -->
	<script type="text/javascript" src="/js/moim/somoim-list.js"></script>
	<!-- 좋아요 -->
	<script type="text/javascript" src="/js/moim/heart.js"></script>
</body>
</html>